* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #F6F6F6;
}

.titulo-destaque {
  color: #22D4FD;
}

.container__conteudo {
  width: 615px;
}

.container__conteudo__titulo {
  font-size: 36px;
}

.container__conteudo__texto {
  font-size: 24px;
}